<!DOCTYPE html>
<html lang="nl">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VKB Begraafplaatsbeheer</title>
	<link rel="stylesheet" href="public/css/styles.css">
	<script src="https://unpkg.com/vue@3"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"
		integrity="sha512-h9644v03pHqrIHThkvXhB2PJ8zf5E9IyVnrSfZg8Yj8k4RsO4zldcQc4Bi9iVLUCCsqNY0b4WXVV4UB+wbWENA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

	<div id="app" class="container mx-auto p-10">
		<nav>
			<ul class="flex gap-4">
				<li><a href="index.html" class="text-blue-500 hover:underline">Home</a></li>
				<li><a href="cemeteries.html" class="text-blue-500 hover:underline">Begraafplaatsen</a></li>
				<li><a href="cemetery_managers.html" class="text-blue-500 hover:underline">Beheerders</a></li>
			</ul>
		</nav>
		<div class="flex justify-center mt-10 mb-20">
			<h2 class="title">
				Lijst met begraafplaatsen
			</h2>
		</div>
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
			<div v-for="begraafplaats in begraafplaatsen " :key="begraafplaats.id">

				<a :href="`graves.html?cemetery_id=${begraafplaats.id}`">
					<div class="aspect-[4/3] overflow-hidden rounded-lg shadow-lg">
						<img :src="begraafplaats.foto_url" :alt="begraafplaats.naam"
							class="w-full h-full object-cover border border-gray-200 shadow-lg rounded-lg">
					</div>
				</a>

				<div class="p-4 flex justify-center">
					<div class="flex flex-col items-center text-center gap-2">
						<h2 class="text-lg font-bold">{{ begraafplaats.naam }}</h2>
						<div v-for="beheerder in begraafplaats.beheerders" :key="beheerder.id">
							<p>Beheerder: {{ beheerder.first_name }} {{ beheerder.infix }} {{
								beheerder.last_name }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>

		// --- Vue app ---
		Vue.createApp({
			data() {
				return {
					begraafplaatsen: []
				}
			},
			mounted() {
				url = "http://localhost:3001/api/begraafplaatsen"

				axios.get(url)
					.then(response => {
						console.log(response)
						this.begraafplaatsen = response.data.begraafplaatsen
					})
					.catch(error => {
						console.error("Fout bij ophalen begraafplaatsen:", error)
					})
			}
		}).mount('#app')
	</script>

</body>

</html>