
.title {
    font-size: 28pt;
    color: #0d475a;
    display: block;
    position: relative;
    text-align: center;
    font-family: "Hero New bold", sans-serif;
    max-width: 400px;
    margin: 0 auto;
}

.title:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0.2em;
    left: -0.25em;
    right: 0;
    border-bottom: 0.307em solid #bee1e0;
}

body
{
    font-family: "Hero New light", sans-serif;
    font-weight: 300;                     /* Light */
    font-size: 16px;                     /* 11.33px */
    line-height: 1.6;                   /* 13.33px */
    color: #0d475a;
}

