.title {
    font-size: 28pt;
    color: #0d475a;
    display: block;
    position: relative;
    width: fit-content;
    text-align: center;
}

.title:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0.2em;
    left: -0.25em;
    right: 0;
    border-bottom: 0.307em solid #bee1e0;
}

.title.fancy-title1::after {
    border-bottom: 0.307em solid #0d475a;
}

.title.fancy-title2::after {
    border-bottom: 0.307em solid #feca00;
}